
.list-unstyled {

    padding-left: 0;
    list-style: none;
    line-height: 2rem;

}

.container .col-md-8 .lead{
    font-size: 1.5rem !important;
}

ul.social{
    list-style: none;
}
.team-member{
    position:relative;
   display:inline-block;
}
.social{
    display: none;
}

.team-member:hover .social {
    width:20%;
    height:70%;
    background:#007bff;
    position:absolute;
    top:0;
    left:0;
    right: 0;
    display:inline-block;
    -webkit-box-sizing:border-box;
    -moz-box-sizing:border-box;
    box-sizing:border-box;
 }
 .site-section .carousel-control-prev-icon{
    visibility:visible !important;
  }
 .site-section .carousel-control-next-icon{
    visibility:visible !important;
  }
  .about1 .carousel-dark .carousel-indicators {
    visibility: hidden !important;
  }

  .about1  .carousel-item {
        transition-duration: 1.5s;
    }