/* a {
    transition: .3s all ease;
    text-decoration: none;
    background-color: transparent;
  }
  h2 {
    font-size: 20px;
  }
  h2:hover{
    color: #007bff !important;
  }
  a:hover {
    color: red !important;
  } */