.test1 .site-section .col-md-12 .unit-4 .mb-0 a{
  color: #007bff;
}
.testimonial-wrap .carousel-control-prev-icon{
  visibility:hidden !important;
}
.testimonial-wrap .carousel-control-next-icon{
  visibility:hidden !important;
}
.pricing{
  background: #fff;
padding: 30px;
font-size: 1rem;
line-height: 2.5rem;
}
 .btn-secondary{
  color: #fff !important;
}
.btn-primary{
  color: #fff !important;
}
/* .carousel-dark .carousel-indicators {
  background-color: #000;
height: 20px;
width: 40px;
border-radius: 78px;
} */



